:root {
    --text-color: #3A3D4D;
    --text-color-secondary: #fff;
    --h1-color: #FFFFFF;
    --h2-color: #0B1013;
    --h3-color: #0B1013;
    --btn-primary-color: #fff;
    --btn-primary-bg-color: #2D5BFF;
    --btn-primary-border-color: #2D5BFF;
    --btn-primary-hover-bg-color: rgba(255, 255, 255, 0.801);
    --font-family-primary: 'Manrope', sans-serif;
    --a-color: #2D5BFF;
    --default-size: 1rem;
    --text-size: 1.25rem;
    --h1-size: 4rem;
    --h2-size: 3rem;
    --h3-size: 1.5rem;
    --bg-color-primary: #fff;
    --bg-color-secondary: #F4F5F6;
    --bg-box-color: #F4F5F6;
    --bg-box-color-highlight: #2D5BFF;
    --svg-primary-fill: #2D5BFF;
    --svg-secondary-fill: #0B1013;
    --svg-inverted-fill: #fff;
    --transition: all 0.3s linear;
    --btn-secondary-border: #9A9EB2;
    --aspect-ratio-4-3: calc((3/4)*100%);
    --aspect-ratio-16-9: calc((9/16)*100%);
    --aspect-ratio-21-9: calc((9/21)*100%);
    --aspect-ratio-3-4: calc((4/3)*100%);
    --aspect-ratio-3-5: calc((5/3)*100%);
    --background-image-shadow: brightness(0.7);
    --h1-weight: 500;
    --h2-weight: 700;
    --h3-weight: 400;
    --text-font-weight: 400;
    --text-inverted-color: #fff;
    --border-radius-default: 2px;
    --spacer-default: 6rem;
    --spacer-default-mobile: 3rem;
    --line-height-default: 1.75rem;
    --h1-line-height: 5rem;
    --h2-line-height: 4rem;
}



@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope/Manrope-Regular.woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope/Manrope-Bold.woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope/Manrope-ExtraBold.woff2');
    font-weight: 800;
}

@font-face {

    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope/Manrope-Light.woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope/Manrope-LightItalic.woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope/Manrope-SemiBold.woff2');
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: var(--default-size);
    font-family: var(--font-family-primary);
    line-height: var(--line-height-default);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;

}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-family: var(--font-family-primary);
    font-weight: 700;
    border-radius: 50px;
    padding: 14px 51px;
    transition: var(--transition);
    width: fit-content;
    cursor: pointer;
}

.btn-primary {
    background: var(--btn-primary-bg-color);
    color: var(--btn-primary-color);
    border: 1px solid var(--btn-primary-border-color);
}

.btn-primary:hover {
    color: var(--btn-primary-bg-color);
    background: var(--btn-primary-hover-bg-color);
    border-color: var(--btn-primary-hover-bg-color);
}

.btn-transparent {
    background: transparent;
    color: var(--btn-primary-color);
    border: 1px solid white;
}

.btn-transparent:hover {
    color: black;
    background: var(--btn-primary-color);
}

.blue-text {
    color: var(--a-color);
}


.h1 {
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    color: var(--h1-color);
    font-family: var(--font-family-primary);
    line-height: var(--h1-line-height);
}

.h2 {
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
    color: var(--h2-color);
    font-family: var(--font-family-primary);
    line-height: var(--h2-line-height);
}

.h3 {
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
    color: var(--h3-color);
    font-family: var(--font-family-primary);

}

.text {
    font-size: var(--text-size);
    font-weight: var(--text-font-weight);
    color: var(--text-color);
    font-family: var(--font-family-primary);
}

.text-inverted {
    color: var(--text-inverted-color);
}
.text-small{
    font-size: 14px;
    font-weight: 700;
}
.text.text-default {
    font-size: var(--default-size);
}

.aspect-ratio {
    position: relative;
    height: 0;
    overflow: hidden;
    width: 100%;
    /* USE OTHER CLASS TO DEFINE padding-top */
}

/* Use classes below in combination with .aspect-ratio */
.aspect-ratio-4-3 {
    padding-top: var(--aspect-ratio-4-3);
}

.aspect-ratio-16-9 {
    padding-top: var(--aspect-ratio-16-9);
}

.aspect-ratio-21-9 {
    padding-top: var(--aspect-ratio-24-9);
}

.aspect-ratio-3-4 {
    padding-top: var(--aspect-ratio-3-4);
}

.aspect-ratio-3-5 {
    padding-top: var(--aspect-ratio-3-5);
}

.flex-container {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}

/* NAVBAR --------------------------------*/
header#header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    transition: var(--transition);
}

nav#nav {
    padding-left: 65px;
    padding-right: 65px;
    width: 100%;
}

#header .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 10%;
    list-style: none;
}

.nav-links a:hover {
    text-decoration: underline;
    /* font-weight: 600; */
    transition: var(--transition);
}

.hero-section-bg {
    object-fit: cover;
    object-position: center;
    filter: var(--background-image-shadow);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.hero-content {
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;


}

.content-section {
    max-width: 1344px;
    width: 100%;
    margin-top: -10%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 4;
    background-color: var(--bg-color-primary);
    border-radius: var(--border-radius-default);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.box {
    background-color: var(--bg-box-color);
    border-radius: var(--border-radius-default);
    padding: 25px 25px 0 25px;
    min-height: 256px;
    overflow-y: hidden;
    position: relative;
}

.box .box-body {
    position: absolute;
    bottom: 0;
}

.box-text-hide {
    display: none;
}

.box:hover {
    background-color: var(--bg-box-color-highlight);
}

.box:hover .box-text-hide {
    display: block;
}

.box:hover .box-body {
    bottom: -200px;
    animation: scrollin 0.3s forwards;
}

.box:hover .text {
    color: var(--text-color-secondary);
}

.box:hover img.icon {
    filter: invert(1);
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.link {
    position: relative;
}

.link-arrow {
    top: 3px;
    position: relative;
    padding-left: 15px;
}

.link:hover .link-arrow {
    animation: arrowslide 1s ease-in-out infinite;
    position: absolute;
}

#section-2 .container {
    background-color: var(--bg-color-secondary);
    padding-top: 90px;
    padding-bottom: 90px;
}

.mobileapp-img {
    max-width: 300px;
    margin: auto;
    display: block;
}

/* SECTION 3 */
#section-3 .image-container {
    background-color: var(--bg-color-secondary);
    width: 100%;
    max-width: 628px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.custom-list {
    list-style-type: none;

}

ul.custom-list li {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 700;
}

ul.custom-list li:not(:last-child) {
    margin-bottom: 20px;
}

li span.checkmark,
li span.plus {
    width: 32px;
    height: 32px;
}

.title-icon {
    width: 80px;
    height: 80px;
}

#section-3 {
    margin-top: 24px;
}

.box h4.text {
    padding-bottom: 12px;
}

.box p.text {
    padding-bottom: 24px;
}

#section-4 {
    margin-top: 24px;
}

.container-small {
    max-width: 1100px;
}

.discolsures-section {
    margin-top: 65px;
    max-width: 860px;
}

.discolsures-section ol {
    counter-reset: list;

}

.discolsures-section ol li:before {
    content: counter(list, lower-roman) ") ";
    counter-increment: list;
}

.discolsures-section ol li {
    list-style: none;
    position: relative;
    color: #3A3D4D;
    font-size: 14px;
}

main {
    padding-bottom: 64px;
}

/* footer */
#footer {
    padding-bottom: 58px;
}

.footer-container {
    width: auto;
    margin: 0 auto;
    max-width: 1100px;
    border-top: 1px solid #E9EAEC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
}

#footer a.phone-num {
    font-weight: 700;
}

.container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
p.text.important-text{
    font-size: 14px;
    padding-top: 32px;
}
/* end footer */




.states-graph1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.states-graph2{
    position: absolute;
    right: 0;
    top: 155px;
    z-index: -1;
}

header#header.header-scroll{
    background-color: var(--bg-color-primary);
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.2);
    transition: var(--transition);
}
.logo-inverted{
    display: none;
}
header#header.header-scroll .normal-logo{
    display: none;
}
header#header.header-scroll .logo-inverted{
    display: block;
}
header#header.header-scroll .hamburger-menu-icon span{
    background: #000;
}
header#header.header-scroll .nav-links.collapse-on .text{
    color: var(--text-color)
}
header#header.header-scroll .btn{
    color: var(--text-color);
    border: 1px solid var(--text-color)
}
header#header.header-scroll .btn:hover{
    color: var(--text-color-secondary);
    border: 1px solid var(--text-color-secondary);
    background-color: var(--text-color);
}

.text-fee{
    color: #0B1013;
}
@media only screen and (min-width: 769px) {
    .hero-content {
        max-width: 812px;
    }

    .absolute-pc {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hero-content {
        text-align: center;
    }

    .spacer {
        margin-top: var(--spacer-default);
    }

    .image-text-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }

    .image-container img {
        width: 100%;
    }

    #section-2:not(.animate-image) .image-container img {
        display: none;
    }

    #section-2.animate-image .image-container img {
        animation: slidein .8s;
        animation-fill-mode: forwards;
        position: relative;
        animation-timing-function: linear;
        display: block;
    }

    #section-2 .text-container {
        padding-left: 85px;
        padding-right: 20%;
    }

    #section-3 .image-text-container .text-container {
        border: 1px solid #E9EAEC;
        border-radius: 2px;
        padding-top: 70px;
        padding-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #section-3 .image-text-container .text-container-inner {
        max-width: 460px;
    }

    #section-3 .image-text-container h2.h2 {
        margin-top: 32px;
        margin-bottom: 36px;
    }

    #section-3 ul.custom-list {
        margin-bottom: 44px;
    }

    #section-3 .text-info {
        margin-bottom: 40px;
    }

    #section-4 .text-container {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #E9EAEC;
    }

    #section-4 .text-container-inner {
        max-width: 430px;
    }

    #section-4 .text-container-inner h2.h2 {
        margin-bottom: 32px;
    }

    #section-5 {
        margin-top: var(--spacer-default);
    }

    #section-5 .box-elements {
        gap: 30px;
        display: flex;
        justify-content: space-evenly;
        padding: 0 20px;
    }

    #section-5 .single-box {
        display: flex;
        gap: 24px;
        max-width: 350px;
    }

    .single-box__content h4 {
        margin-bottom: 24px;
        margin-right: 3px;
    }

    #hero-section .hero-content-left {
        text-align: left;
        left: 10%;
        top: 10%;
        transform: none;
        align-items: flex-start;
    }

    #hero-section .hero-content-left .h1 {
        max-width: 645px;
    }

    #hero-section {
        padding-top: 100vh;
    }

    .content-section {
        padding: 96px 117px 0 117px;
    }

}

@media only screen and (min-width:1056px) {
    .hamburger-menu {
        display: none;
    }
}

@media only screen and (max-width:1055px) {
    .hamburger-menu {
        display: block;

        position: relative;

    }

    .hamburger-menu-icon {
        z-index: 3;
    }

    #hamburger-menu-content {
        display: none;
        right: -400px;

    }

    .collapse-on {
        display: none !important;
    }

    #hamburger-menu-content.show-mobile-menu {
        position: absolute;
        display: block;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        height: 100vh;
        background: #fff;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        /* transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0); */

        transition: right 0.5s;
        right: -65px;
        animation: hamburger-menu;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        box-shadow: 0 0 999px 300px rgba(0, 0, 0, 0.5);
        /* right: 0;*/
    }

    #hamburger-menu-content .text {
        text-transform: uppercase;
        font-weight: 500;
    }

    #hamburger-menu-content li {
        padding-bottom: 10px;

    }

    #hamburger-menu-content .text.text-btn {
        color: var(--a-color);
        top: 1rem;
        position: relative;
    }

    .hamburger-menu-icon {
        z-index: 3;
        position: relative;
    }


    .hamburger-menu-icon span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 20px 7px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    .hamburger-menu-icon span:first-child {
        transform-origin: 0% 0%;
    }

    .hamburger-menu-icon span:nth-last-child(2) {
        transform-origin: 80% 0%;
    }

    /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
    .hamburger-menu-icon.animate-image-bar span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    /*
 * But let's hide the middle one.
 */
    .hamburger-menu-icon.animate-image-bar span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
 * Ohyeah and the last one should go the other direction
 */
    .hamburger-menu-icon.animate-image-bar span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }
}

@media only screen and (min-width: 769px) and (max-width: 1055px) {

    html,
    body {
        font-size: 14px;
    }

    .boxes {
        grid-template-columns: 1fr 1fr;
    }

    .hero-content {
        max-width: 90%;
        width: 100%;
    }

    .h2 {
        font-size: 2.5rem;
        line-height: 3rem;

    }

    #footer {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .spacer {
        margin-top: var(--spacer-default-mobile);
    }

    #hero-section {
        padding-top: var(--aspect-ratio-3-5);
    }

    section:not(#section-3) .image-container {
        position: relative;
        height: 0;
        overflow: hidden;
        width: 100%;
        padding-top: var(--aspect-ratio-3-4);
    }

    /* #section-3 .image-container{
        padding-top: var(--aspect-ratio-3-5);
    } */
    section:not(#section-3) .image-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .flex-container {
        flex-direction: column;
    }

    .content-section {
        padding: 30px 20px;
    }

    html,
    body {
        font-size: 14px;
    }

    .boxes {
        grid-template-columns: 1fr;
    }

    .h2 {
        font-size: 2.5rem;
        line-height: 3rem;

    }

    .image-text-container .h2 {
        margin-bottom: 2rem;
    }

    .h3 {
        font-size: 1.5rem;
    }

    #section-2 .image-container {
        display: none;
    }

    .single-box {
        display: flex;
        gap: 1rem;
    }

    img.single-box__img {
        width: 45px;
    }

    .single-box__content {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding-bottom: 20px;
    }

    #section-1 .h2 {
        margin-bottom: 1rem;
    }

    #section-5 {
        margin-top: 3rem;
    }

    .discolsures-section ol li {
        margin-bottom: 1rem;
    }

    .coordinatees {
        margin-top: 10px;
    }

    .image-text-container {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    .text-info {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding-bottom: 1rem;
        padding-top: 2rem;
    }

    #section-3 .image-container {
        background-color: var(--bg-color-primary);
    }

    #section-4 .image-container {
        flex-direction: column-reverse;

    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* footer */
    .footer-container {
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .footer-container p {
        font-size: 12px;
    }

    #footer {
        padding-bottom: 20px;
    }
    .title-icon{
        width: 60px;
        height: 60px;
    }
    header#header {
        padding-top: 25px;

    }
    nav#nav{
        padding-left: 15px;
        padding-right: 15px;
        
    }
    .states-graph1 img{
        max-width: 150px;
        opacity: 0.7;
    }
    .states-graph2 {
        top: unset;
        bottom: 0;
    }
    .states-graph2 img{
        max-width: 150px;
        opacity: 0.7;
    }
}


@keyframes scrollin {
    0% {
        bottom: -200px;
    }

    25% {
        bottom: -150px;
    }

    50% {
        bottom: -100px;
    }

    75% {
        bottom: -50px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes slidein {
    0% {
        left: 1000px;
    }

    25% {
        left: 750px;
    }

    50% {
        left: 500px;
    }

    75% {
        left: 250px;
    }

    100% {
        left: 0px;
    }
}

@keyframes arrowslide {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }
}

@keyframes hamburger-menu {
    0% {
        right: -400px;
    }

    20% {
        right: -300px;
    }

    40% {
        right: -200px
    }

    60% {
        right: -100px;
    }

    80% {
        right: -50px;
    }

    100% {
        right: -65px;
    }
}

.contact-us-inner {
    text-align: center;
    align-items: center;
}


.contact-us-inner hr {
    color: #F4F5F6;
    max-width: 400px;
    width: 100%;
    margin-top: 48px;
    margin-bottom: 32px;
}

.contact-us-inner .btn.btn-primary {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    margin-top: 40px;
    border: 1px solid black;

}

.contact-us-inner .btn.btn-primary:hover {
    background-color: white;
    color: #0B1013;
    transition: var(--transition);
}